*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrong {
  border: 2px dashed red;
}
.wrong:focus {
  background-color: #f1bfbf;
}

.inputbox {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  color: #333;
}

.inputbox input,
.inputbox button {
  padding: 8px;
  margin: 8px;
}

output {
  margin-top: 16px;
  padding: 8px;
  font-family: 'Courier New', Courier, monospace;
}

table {
  margin-top: 16px;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid #666;
}
